.vs/PunamFancyJewellers/xs/UserPrefs.xml
.vs/PunamFancyJewellers/xs/project-cache/PunamFancyJewellers-Debug.json
.vs/PunamFancyJewellers/xs/project-cache/PunamFancyJewellers.Helpers-Debug.json
PunamFancyJewellers.Helpers/bin/Debug/net7.0/PunamFancyJewellers.Helpers.deps.json
PunamFancyJewellers.Helpers/bin/Debug/net7.0/PunamFancyJewellers.Helpers.dll
PunamFancyJewellers.Helpers/bin/Debug/net7.0/PunamFancyJewellers.Helpers.pdb
PunamFancyJewellers.Helpers/obj/project.assets.json
PunamFancyJewellers.Helpers/obj/project.nuget.cache
PunamFancyJewellers.Helpers/obj/PunamFancyJewellers.Helpers.csproj.nuget.dgspec.json
PunamFancyJewellers.Helpers/obj/PunamFancyJewellers.Helpers.csproj.nuget.g.props
PunamFancyJewellers.Helpers/obj/PunamFancyJewellers.Helpers.csproj.nuget.g.targets
PunamFancyJewellers.Helpers/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.AssemblyInfo.cs
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.AssemblyInfoInputs.cache
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.assets.cache
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.csproj.AssemblyReference.cache
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.csproj.CoreCompileInputs.cache
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.csproj.FileListAbsolute.txt
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.dll
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.GeneratedMSBuildEditorConfig.editorconfig
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.GlobalUsings.g.cs
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.pdb
PunamFancyJewellers.Helpers/obj/Debug/net7.0/ref/PunamFancyJewellers.Helpers.dll
PunamFancyJewellers.Helpers/obj/Debug/net7.0/refint/PunamFancyJewellers.Helpers.dll
.DS_Store
PunamFancyJewellers.Helpers/obj/Debug/net7.0/PunamFancyJewellers.Helpers.sourcelink.json
